# Python технічні файли
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Системні файли
.DS_Store
Thumbs.db

# Локальні файли даних (якщо ви хочете, щоб на GitHub був лише фінальний XML)
# Якщо хочете зберігати CSV на GitHub - видаліть рядок нижче
*.csv

# Тимчасові файли Excel
~$*
